<html>
  <head>
    <title>Collabstronauts</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Collabstronauts</a></h1>
    </div>

    <hr>

    {% for activity in activities %}
      <div>
        <h1><a href="">{{ activity.activity_name }}</a></h1>
        <span>
          Number of people: {{ activity.num_people }}
          <br>
          Space type: {{ activity.space_type }}
        </span>
        <h2>Description:</h2>
        <p>{{ activity.activity_desc|linebreaksbr|safe }}</p>
        <h2>Variations:</h2>
        <p>{{ activity.variations|linebreaksbr|safe }}</p>
      </div>
    {% endfor %}
  </body>
</html>