<html>
  <head>
    <title>Collabstronauts</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Collabstronauts</a></h1>
    </div>

    <hr>

    {% for activity in activities %}
      <div>
        <h1><a href="">{{ activity.activity_name }}</a></h1>
        <span>
          Activity type: {{ activity.get_activity_type_display }}
          <br>
          Number of people: {{ activity.num_people }}
          <br>
          Space type: {{ activity.get_space_type_display }}
        </span>
        <h2>Description:</h2>
        <p>{{ activity.activity_desc|safe|linebreaksbr }}</p>
        <h2>Variations:</h2>
        <p>{{ activity.variations|safe|linebreaksbr }}</p>
      </div>
      <hr>
    {% endfor %}
  </body>
</html>