<html>
  <head>
    <title>Collabstronauts</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Collabstronauts</a></h1>
    </div>

    <hr>

    {% for activity in activities %}
      <div>
        <h1><a href="">{{ activity.activity_name }}</a></h1>
        <p>Number of people: {{ activity.num_people }}</p>
        <p>Space type: {{ activity.space_type }}</p>
        <h2>Description:</h2>
        <p>{{ activity.desc|linebreaksbr }}</p>
        <h2>Variations:</h2>
        <p>{{ activity.variations|linebreaksbr }}</p>
      </div>
    {% endfor %}
  </body>
</html>